<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>

      <h1>Items for sale! </h1>
      <nav>
      <a href="/home/new">Add an item!</a>
      </nav>
<ul>
      <% seedData.forEach(seedData => {%>
            <li>
                  <a href="/home/<%= seedData._id;%>"><%= seedData.name%></a>
                  <a href="/home/<%= seedData._index ; %>">
                  <img src="<%= seedData.img%>" alt="picture">
                  </a>
            </li>
            <% }) %>
      </ul>

</body>
</html>